<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network host="localhost" />
                <specifiedPickupDirectory pickupDirectoryLocation="C:\test" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
