.left{
	float:left;
	}

.right{
	float:right;
	}

.clear{
	clear:both;
	}
.txtinput{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.06) inset;
    color: #6D6C6C;
    display: block;
    font-size: 13px;
    font-style: normal;
    margin: 5px;
    outline: medium none;
    padding: 10px 9px;
    width: 90%;
	}
	
.margin-r-10{
	margin-right:10px;
	}
	
.margin-r-70{
	margin-right:70px;
	}
.margin-t-10{	
	margin-top:10px;
	}
.label{
	color: #6D6C6C;
    font-size: 14px;
    font-style: normal;
    line-height: 50px;
    margin-left: 5px;
	font-family: tahoma;
	}
.width500{
	width:500px;
	}
.width300{
	width:300px;
	}
.width400{
	width:400px;
	}
.width90{
	width:90px;
	}
.width100{
	width:100px;
	}
.width600{
	width:600px;
	}
.width700{
	width:700px;
	}
.width800{
	width:800px;
	}
.width900{
	width:900px;
	}
.centerDiv {
   margin:0 auto;
}
.submitButton{
	background: none repeat scroll 0 0 #00ADEF;
    border: 0 none;
    border-radius: 3px;
    color: #110F10;
    cursor: pointer;
    font-size: 21px;
    font-weight: lighter;
    line-height: 25px;
    margin-right: 50px;
    margin-top: 20px;
    min-height: 35px;
    padding: 10px 0;
    text-align: center;
    text-transform: none;
    width: 100px;
	}