.left{
	float:left;
	}

.right{
	float:right;
	}

.clear{
	clear:both;
	}
#studentInfo input{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.06) inset;
    color: #6D6C6C;
    display: block;
    font-size: 13px;
    font-style: normal;
    margin: 5px;
    outline: medium none;
    padding: 10px 9px;
    width: 90%;
	}
	
.label{
	color: #6D6C6C;
    font-size: 14px;
    font-style: normal;
    line-height: 50px;
    margin-left: 5px;
	    font-family: tahoma;
	}
.width500{
	width:500px;
	}
.width90{
	width:90px;
	}
.width100{
	width:100px;
	}
.width600{
	width:600px;
	}
.width800{
	width:800px;
	}
.width900{
	width:900px;
	}
#studentInfo {
   margin:0 auto;
}