/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.container .pic img { width: 100%; height: auto; }
		.container .img_hover_box.pic .img_hover_overlay { width: 102%; }
		.container .menu ul li a.ms_top span { padding: 38px 20px 25px; }
		.sidebar_bg.add .pic img { width: auto; }		
		.container .centercol .img_hover_box.pic .img_hover_overlay { width: 101%; }
		.container .menu ul li a.ms_top span { padding: 20px 20px 16px; }
		.container .col3 { margin-right: 13px; }
		.container .content_resize.adder2 .col3 { margin-right: 17px; width: 31%; }
		.container .jcarousel-skin-tango .pic img { width: auto; }
		.container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: -5px; }
		
		.container .content_resize.adder .img_hover_box.pic .img_hover_overlay { width: 102.7%; }
		.container .content_resize.adder2 .img_hover_box.pic .img_hover_overlay { width: 104%; }
		
		
		.prefooter .container .fcol { margin-right: 9px; }
		.container .col4 { margin-right: 8px; }
		.container .col4.last { margin-right: 0px; }
		.container .jcarousel-skin-tango .jcarousel-clip-horizontal { margin-left: 35px; width: 93%; }
		.container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: 5px; }
		.container .centercol.wel .img_hover_box.pic .img_hover_overlay { width: 102%; }
		}
		

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#controls { right: 6%!important; }
		#slider-wrapper object { width: 100%; height: 300px; }
		#now_slider1 iframe.wid5 { height: 250px; width: 100%; }
		#now_slider1 iframe.wid6 { height: 330px; }
		#now_slider1 iframe.wid7 { height: 300px; width: 100%; }


		 }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#slider-wrapper object { width: 100%; height: 300px; }
		#panel_setting_side { position: absolute !important; top: 30% !important; }
		.container .menu { width: 100%; }
		.container .menu .menusm { display: none!important; }
		.container .menu select { padding: 4px 5px 4px 10px; margin: 11px 0 0 0; height: 36px; display: block!important; float: left; width: 420px; }
		
		.header .header_top { height: 120px; background: url(../images/menu_bg2.png) left bottom repeat-x; }
		.container .search input.editbox_search { width: 230px; }
		
		.container #coment img { float: none; }
		.container #coment2 img { float: none; }
		.container #coment .podpis { float: none; }
		.container #coment2 { margin-left: 0px; }
		.container #coment2 img { float: none; }
		.container #coment2 .podpis { float: none; }
		.container #coment3 { margin-left: 0px; }
		.container #coment3 img { float: none; }
		.container #coment3 .podpis { float: none; }
		.container #coment { padding-bottom: 12px; }
		.container #coment br { display: none; }
		.container #coment2 br { display: none; }
		.container #coment3 br { display: none; }
		.container #coment3 .podpis { width: 100%; }
		.container .r_plus_overlay { display: none; }
		.container .r_plus { display: none; }
		.container .img_hover_box.pic .img_hover_overlay { display: none; }
		
		.container .search { margin: 22px 0 0px 0; width: 400px; float: left; }

		.container .col3 { margin: 0 0 15px 0; width: 100%; }
		.container .content_resize.adder2 .col3 { margin-right: 0px; width: 100%; }
		
		.container .col2 { margin: 0px; width: 100%; }
		.container .col2.last { float: left; }
		.container .right { float: left; }
		
		.container .content { padding-top: 20px; }
		.container .sidebar_bg_small.content_full_size .pic img { width: auto; }
		.container .sidebar_bg_small.content_full_size.big img { width: 100%; }
		
		.container .cols4 .col4 { margin: 0px 0 20px 0; min-height: 313px; width: 44%; }
		.container .cols4 .col4.second { float: right; }
		.container .cols4 .col4.last { float: right; }
		.container .col2.big { width: 100%; }
		.container .col2.big.last { float: left; }
		.container .content.well  .col4 { min-height: 295px; }
		
		.container .content.net .pic.fr { margin: 0px 0 10px 0; float: none; }
		.container .content.net .pic.fl { margin: 0px 0 10px 0; float: none; }
		
		.container .dc_pricingtable02 li.pricing_header1 { font-size: 10px; }
		.container .pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 13.5%; }
		
		.container .one { display: none; }
		.container .two { display: block; }

		.prefooter .container .fcol { margin-right: 0px; width: 100%; }
		.container .fcol { margin-bottom: 5px; }
		.container .fcol .flickr img { margin: 0 44px 10px 0; }
		.container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: 15px; }
		.container .jcarousel-skin-tango .jcarousel-item { width: 166px; }
		.container .jcarousel-skin-tango .pic img { width: 100%; }
		.container .jcarousel-skin-tango .jcarousel-container-horizontal { margin-left: -26px; }
		
		.container .gap2 { padding-left: 30px; }
		.container .content_resize.adder .col2.last { float: left; }
		
		.container #webstore { font-size: 12px; min-width: 358px; }
		.container #catalogue .product { width: 100%; float: none; }
		.container .product.last-column .webstore-clear { margin-left: -5px; }
		.container #webstore #catalogue .product:first-child > div, #catalogue .product:first-child + li > div { margin: 0 0 5px 0; }
		.container #webstore #catalogue .first-column > div { margin: 0 0 5px 0; }
		.container #webstore #catalogue .last-column > div { margin: 0 0 5px 0; }
		.container #cart .description { font-size: 8px; height: auto; }
		.container #cart-list .title, #cart-list .price { font-size: 8px; }
		.container #webstore input, #webstore select { width: 15px; height: 13px; }
		.container #cart input.quantity { width: 6%; }
		.container #cart-list .price span { padding-left: 5px; font-size: 6px; font-weight: bold; width: auto; }
		.container #webstore .cart-totals label { font-size: 7px; }
		.container #webstore .cart-totals label + span { font-size: 7px; }
		.container #webstore .cart-totals label { width: 0px; }
		.container #webstore .cart-options label { font-size: 7px; font-weight: bold; }
		.container #webstore input, #webstore .right.cart-options select { padding: 2px; width: 67px; font-size: 7px; }
		.container #webstore button span { padding: 0px 2px 0 2px; font-size: 5px; height: 26px; line-height: 26px; }
		.container #catalogue .price, #webstore button { height: 37px; }
		.container #checkout form > div:first-child label { margin: 0px; font-size: 9px; }
		
		.container .code .one_third_pad { margin: 0px; }

		.container .jcarousel-skin-tango .jcarousel-clip-horizontal { margin-left: 35px; width: 86%; }
		.container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: 15px; }
		.container .pic.fl { margin: 0px 0 20px 0; float: none; }
		.container .pic.fr { margin: 0 0 20px 0; float: none; }
		.container .centercol .pic.fr { margin: 0px; float: none; }
		.container .sidebar.last { margin-top: 30px; border-top: 1px solid #656565; }
		#now_slider1 iframe.wid5 { height: 150px; width: 100%; }
		#now_slider1 iframe.wid6 { height: 400px; }
		#now_slider1 iframe.wid7 { height: 300px; width: 100%; }
		#now_slider1 iframe.wid8 { height: 280px; width: 100%; }

		
		}
 
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#controls { right: 8%!important; }
		}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.container .smallnav { margin: 60px  0 20px 0; }
		.container .menu select { padding: 4px 5px 4px 10px; margin: 11px 0 0 0; height: 36px; display: block!important; float: left; width: 300px; }
		.container .menu select option { width: 200px; }
		.container .smallnav.new { margin: 30px  0 20px 0; width: 100%; }
		.container .logo div a, .logo div span, .logo div a:hover { text-align: center; }
		.container .logo { margin-left: 85px; }
		.container .header_top { padding: 0px; width: 100%; }
		.container .social { margin-top: 15px; }
		.container .header_resize.add .fr { float: left; } 
		.container .social img { margin-right: 10px; }
		.container .search { width: 300px; }
		.container .search input.editbox_search { width: 233px; }
		.container .now_page_resize h1 { font-size: 17px!important; }

		.container .fcol .flickr img { margin-right: 16px; }
		.container #contactform_main textarea { width: 69%; }

		.container .cols4 .col4 { margin: 0px 0 20px 0; width: 100%; }
		.container .cols4 .col4.second { float: none; }
		.container .cols4 .col4.last { float: none; }
		.container .content.well  .col4 { min-height: 200px; }
		
		.container .sidebar.last .pic.fl { margin: 0px; float: none; }
		.container .maps_view { height: 250px; }
		.container #gmap_contact { height: 250px; }

		.container .gap2 { padding-left: 5px; }
		.container .gallery-categ li a { padding: 5px 4px; }
		.container .pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 19.5%; }
		.container .pricing_column_first.gap { margin-bottom: 15px; }
		.container .dc_pricingtable02 li.pricing_header1 { font-size: 8px; }
		
		.container #webstore { font-size: 7px; width: 90%; }
		.container #webstore h3.title { font-size: 7px; }
		.container #webstore p { font-size: 7px; }
		.container #catalogue .product > div { padding: 20px 0px; }
		.container #webstore { min-width: 150px; }
		.container #webstore-container-inner { padding: 20px 10px 0 10px; }
		.container #webstore .right { padding-left: 20px; width: auto; }

		.container .one_third_pad { width: 100%; }		

		.container .jcarousel-skin-tango .jcarousel-clip-horizontal { margin-left: 70px; width: 60%; }
		.container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: 15px; }
		.container .jcarousel-skin-tango .jcarousel-prev-horizontal { left: 30px; }
		.container .jcarousel-skin-tango .jcarousel-next-horizontal { margin-right: 15px; }
		.container .search { margin-top: 3px; }
		#slider-wrapper object { width: 100%; height: 250px; }
		#now_slider1	iframe.wid5 { height: 130px; width: 100%; }
		#now_slider1 iframe.wid6 { height: 420px; }


		}
		


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
