body {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #7D7764;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

#wrapper {
	overflow: hidden;
	background: #FFFFFF url(images/img02.png) repeat-x left top;
	background-size: auto 200px;
}

#header-wrapper {
	overflow: hidden;
}

#header {
	width: 1206px;
	height: 200px;
	margin: 0 auto;
	background: url(images/img04.jpg) no-repeat right bottom;
	background-size: auto 200px;
}

#logo {
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
}

#logo h1 {
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #5E8CC3;
	padding: 50px 0px 0px 0px;
	letter-spacing: -1px;
	color: #FFFFFF;
}

#logo h2 {
	padding: 0px 0px 0px 5px;
	font-weight: 300;
	color: #B8D1EE;
}

#logo p {
	padding: 0px 0px 0px 5px;
	color: #B8D1EE;
}

#page {
	overflow: hidden;
	padding: 50px 0px 40px 0px;
}

#logo1 a {
	padding: 0px 0px 0px 150px;
}

#logo1 h2 {
	padding: 20px 0px 0px 150px;
	font-weight: 300;
	color: #787878;
}


